<div class="tool-bar action-toolbar">
    @for (action of tableActions; track action.label) {
        <button 
            mat-flat-button 
            [color]="action.color"
            class="action-button"
            (click)="action.action()"
            [disabled]="!action.predicate()"
            [matTooltip]="action.tooltip">
            @if (action.icon) {
                <mat-icon class="action-icon-spacing">{{ action.icon }}</mat-icon>
            }
            {{ action.label }}
        </button>
    }

    <div class="add-user-section">
        <mat-form-field appearance="outline" class="add-user-form">
            <mat-label>Add User</mat-label>
            <mat-select [(ngModel)]="newUserToAdd" (selectionChange)="addNewUser()">
                @for (user of availableUsers$ | async; track user.id) {
                    <mat-option [value]="user">
                        <img [src]="user.getAvatarImageUrl()" alt="avatar" class="option-avatar">
                        {{ user.getName() }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="tables-container">
    <div class="players-section">
        <h3>Players</h3>
        <div class="table-container">
            <table mat-table [dataSource]="tableData" matSort #tableSort="matSort" class="mat-table-striped">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? toggleAllPlayers() : null"
                                      [checked]="isAllPlayersSelected()"
                                      [indeterminate]="isPlayersIndeterminate()"
                                      matTooltip="Select all players">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <mat-checkbox [checked]="isUserSelected(i)" (change)="toggleUserSelection(i)"></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                    <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="player-name-cell">
                            @if (element.user) {
                                <img [src]="element.user.getAvatarImageUrl()" alt="avatar" class="player-avatar">
                            } @else {
                                <mat-icon class="player-globe-icon">public</mat-icon>
                            }
                            <span>{{ element.user ? element.getDisplayName() : '-' }}</span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="pick1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>I</th>
                    <td mat-cell *matCellDef="let element">{{ element.getPick(0) }}</td>
                </ng-container>

                <ng-container matColumnDef="pick2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>II</th>
                    <td mat-cell *matCellDef="let element">{{ element.getPick(1) }}</td>
                </ng-container>

                <ng-container matColumnDef="pick3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>III</th>
                    <td mat-cell *matCellDef="let element">{{ element.getPick(2) }}</td>
                </ng-container>

                <ng-container matColumnDef="pick4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>IV</th>
                    <td mat-cell *matCellDef="let element">{{ element.getPick(3) }}</td>
                </ng-container>

                <ng-container matColumnDef="pick5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>V</th>
                    <td mat-cell *matCellDef="let element">{{ element.getPick(4) }}</td>
                </ng-container>
                <ng-container matColumnDef="warning">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        @if ((hasAnyAssignments$ | async) && !element.isHappy()) {
                            <mat-icon class="warning-icon" matTooltip="User not assigned to a pick">warning</mat-icon>
                        }
                    </td>
                </ng-container>

                <ng-container matColumnDef="regionServer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned Region (Server)</th>
                    <td mat-cell *matCellDef="let element"
                        [matTooltip]="element.user ? ('Pick #: ' + element.getPickNumber()) : ''" matTooltipPosition="above">
                        {{ element.regionServer || '' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="region">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned Region (Local)</th>
                    <td mat-cell *matCellDef="let element"
                        [matTooltip]="element.user ? ('Pick #: ' + element.getPickNumber()) : ''" matTooltipPosition="above">
                        {{ element.regionClient || '' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="action-cell">
                            @if (element.user) {
                                @if (element.regionClient) {
                                    <button mat-icon-button (click)="clearAssignment(element)" 
                                        matTooltip="Clear assignment">
                                        <mat-icon color="accent">clear</mat-icon>
                                    </button>
                                }
                                <button mat-icon-button (click)="removeUserRow(element)" 
                                    matTooltip="Remove user signup">
                                    <mat-icon color="primary">delete</mat-icon>
                                </button>
                            }
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
