@use '@angular/material' as mat;

.lab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 16px;
  padding: 16px;
}

.selection-box-wrapper {
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 16px;
}

.resource-select {
  margin: 0;
  padding: 0rem 4rem;
}

.map-wrapper {
  background-color: var(--background-color);
  border-radius: 1rem;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

app-slab-map-view {
  height: 100%;
  width: 100%;
}
