# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
public/test.eu4
public/test.json
public/test.eu4
public/*.v3
public/*.txt
public/*.json
src/assets/00_goods.txt
public/Duke_salomoun_of_Lausitz_1120_08_21.ck3
public/Emperor_Havel_of_Greater_Elbia_1208_03_24.ck3
public/heightmap.png
public/counties.geojson
public/Duke_Friedrich_II_of_Lower_Lotharingia_1107_07_25.ck3
public/eu4_provinces.geojson
public/mp_Greater_Elbia1705_05_28.eu4
public/MY Emperor_Havel_of_Greater_Elbia_1208_03_24.ck3
.VSCodeCounter/2025-09-03_00-48-57/details.md
.VSCodeCounter/2025-09-03_00-48-57/diff-details.md
.VSCodeCounter/2025-09-03_00-48-57/diff.csv
.VSCodeCounter/2025-09-03_00-48-57/diff.md
.VSCodeCounter/2025-09-03_00-48-57/diff.txt
.VSCodeCounter/2025-09-03_00-48-57/results.csv
.VSCodeCounter/2025-09-03_00-48-57/results.json
.VSCodeCounter/2025-09-03_00-48-57/results.md
.VSCodeCounter/2025-09-03_00-48-57/results.txt
.VSCodeCounter/2025-09-09_23-55-24/details.md
.VSCodeCounter/2025-09-09_23-55-24/diff-details.md
.VSCodeCounter/2025-09-09_23-55-24/diff.csv
.VSCodeCounter/2025-09-09_23-55-24/diff.md
.VSCodeCounter/2025-09-09_23-55-24/diff.txt
.VSCodeCounter/2025-09-09_23-55-24/results.csv
.VSCodeCounter/2025-09-09_23-55-24/results.json
.VSCodeCounter/2025-09-09_23-55-24/results.md
.VSCodeCounter/2025-09-09_23-55-24/results.txt
.VSCodeCounter/2025-09-12_00-13-21/details.md
.VSCodeCounter/2025-09-12_00-13-21/diff-details.md
.VSCodeCounter/2025-09-12_00-13-21/diff.csv
.VSCodeCounter/2025-09-12_00-13-21/diff.md
.VSCodeCounter/2025-09-12_00-13-21/diff.txt
.VSCodeCounter/2025-09-12_00-13-21/results.csv
.VSCodeCounter/2025-09-12_00-13-21/results.json
.VSCodeCounter/2025-09-12_00-13-21/results.md
.VSCodeCounter/2025-09-12_00-13-21/results.txt
.VSCodeCounter/2025-09-15_16-36-22/details.md
.VSCodeCounter/2025-09-15_16-36-22/diff-details.md
.VSCodeCounter/2025-09-15_16-36-22/diff.csv
.VSCodeCounter/2025-09-15_16-36-22/diff.md
.VSCodeCounter/2025-09-15_16-36-22/diff.txt
.VSCodeCounter/2025-09-15_16-36-22/results.csv
.VSCodeCounter/2025-09-15_16-36-22/results.json
.VSCodeCounter/2025-09-15_16-36-22/results.md
.VSCodeCounter/2025-09-15_16-36-22/results.txt
.VSCodeCounter/2025-09-24_01-39-47/details.md
.VSCodeCounter/2025-09-24_01-39-47/diff-details.md
.VSCodeCounter/2025-09-24_01-39-47/diff.csv
.VSCodeCounter/2025-09-24_01-39-47/diff.md
.VSCodeCounter/2025-09-24_01-39-47/diff.txt
.VSCodeCounter/2025-09-24_01-39-47/results.csv
.VSCodeCounter/2025-09-24_01-39-47/results.json
.VSCodeCounter/2025-09-24_01-39-47/results.md
.VSCodeCounter/2025-09-24_01-39-47/results.txt
public/King_Friedrich_of_Niederlothringen_1139_01_01.ck3
