:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5%;
    color: var(--text-color);
}

.main {
    width: 80%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
}

.dropzone {
    background-color: var(--background-color);
    border: 2px dashed var(--faded-border-color);
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;

    &.dragging {
        border-color: var(--mat-sys-primary);
    }
}

.parsed-files {
    width: 100%;
    height: 70%;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.parsed-files-header,
.file-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
}

.parsed-files-header {
    font-size: 1.4em;
    padding: 0.5rem 0;
    flex-shrink: 0;
    width: 80%;
    border-radius: 1rem;
    border: 1px solid var(--faded-border-color);

    h3 {
        margin: 0;
        font-weight: 700;
    }
}

.file-item {
    padding: 8px;
    width: 80%;
    border-radius: 1rem;

    &:nth-child(even) {
        background-color: var(--table-row-alt);
    }

    &:hover {
        background-color: var(--table-row-hover);
    }

    &:nth-child(even):hover {
        background-color: var(--table-row-alt-hover);
    }
}

.left,
.right {
    flex: 1;
    display: flex;
    padding: 0 0.5rem;
}

.left {
    justify-content: flex-end;
}

.right {
    justify-content: space-between;
}

.file-item-left {
    font-family: var(--hacker-font);
}

.file-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    padding: 1rem;
    gap: 0.5rem;
}