@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    $toolbar-font: "Permanent Marker", cursive;
    mat-toolbar {
        @include mat.toolbar-overrides((container-background-color: var(--header-background-color),
                container-text-color: var(--text-color),
                title-text-size: 2em,
                title-text-tracking: 0.2em,
                title-text-font: var(--hacker-font)));
    }

    mat-toolbar button {
        font-family: $toolbar-font !important;
    }

    .toolbar-menu-button,
    .toolbar-action {
        font-family: $toolbar-font !important;
    }
}

.menus-container {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.spacer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spacer-right {
    width: 1em;
}

.toolbar-menu-button {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;

    height: 100%;
    padding: 0 1em;

    font-size: 1em;
    color: var(--text-color);
    border-radius: 0;

    &:hover {
        color: var(--accent-color);
    }
}

.menu-chevron {
    transition: transform 200ms ease-in-out;

    &.open {
        transform: rotate(180deg);
    }
}

.menu-button,
.toolbar-action {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding-top: 0;
    padding-bottom: 0;

    &:hover {
        background-color: var(--faded-border-color);
    }

    &.toolbar-action-disabled {
        opacity: 0.5;

        &:hover {
            background-color: transparent;
        }
    }
}

.container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hello-wrapper {
    padding-left: 1rem;
    font-family: "Permanent Marker", cursive;
    display: flex;
    align-items: baseline;
}

.hello {
    font-size: 0.6em;
    color: var(--mat-sys-primary);
}

.username {
    font-size: 1.0em;
}