<mat-toolbar>
    <div class="spacer">
        <div class="hello-wrapper">
            @if (authService.loggedInUser$ | async; as user) {
            <span class="hello">Hello,</span> <button mat-button class="username" (click)="navigate('')">{{
                user.getName() }}</button>
            <button mat-icon-button (click)="authService.logOut()" [attr.aria-label]="'Log out'" matTooltip="Log out">
                <mat-icon>logout</mat-icon>
            </button>
            } @else {
                <div style="padding: 0 2em"></div>
            <app-discord-login></app-discord-login>
            }
        </div>
    </div>
    <div class="menus-container">
        @for (menu of navMenus; track menu.label) {
        <button mat-button [matMenuTriggerFor]="dropdownMenu" class="toolbar-menu-button" [attr.aria-label]="menu.label"
            #menuTrigger="matMenuTrigger">
            {{ menu.label }}
            <mat-icon class="menu-chevron" [class.open]="menuTrigger.menuOpen">expand_more</mat-icon>
        </button>
        <mat-menu #dropdownMenu="matMenu">
            @for (item of menu.items; track item.path) {
            <button mat-menu-item (click)="navigate(item.path)" [disabled]="isActiveRoute(item.path)">
                <mat-icon fontSet="material-symbols-outlined">{{ item.icon }}</mat-icon>
                {{ item.label }}
            </button>
            }
        </mat-menu>
        }
        <button mat-icon-button [matMenuTriggerFor]="dropdownMenu" class="toolbar-menu-button"
            #menuTrigger="matMenuTrigger">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #dropdownMenu="matMenu">
            <button mat-menu-item (click)="openGitHubRepository()">
                <mat-icon svgIcon="github-logo"></mat-icon>
                View Source
            </button>
            <button mat-menu-item (click)="openDiscordServer()">
                <mat-icon svgIcon="discord-logo"></mat-icon>
                Join the Discord
            </button>

        </mat-menu>
    </div>
    <div class="spacer">
        <span class="spacer-right"></span>
        @for (action of toolbarActionsArray$ | async; track trackByActionId($index, action)) {
        <button mat-icon-button class="toolbar-action" [@newActionAlert]="getAnimationState(action.id)"
            (@newActionAlert.done)="onAnimationDone($event, action.id)" [attr.aria-label]="action.tooltip"
            [matTooltip]="action.tooltip" (click)="onActionClick(action)">
            <mat-icon fontSet="material-symbols-outlined">{{ action.icon }}</mat-icon>
        </button>
        }
    </div>
</mat-toolbar>

<router-outlet></router-outlet>