<mat-toolbar>
  <button mat-icon-button class="menu-button" aria-label="Menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>PDX</span>
  @if (getToolbarLabel()) {
    <span class="toolbar-label">{{ getToolbarLabel() }}</span>
  }
  <span class="spacer"></span>
  @for (action of getToolbarActionsArray(); track trackByActionId($index, action)) {
    <button mat-icon-button
      class="toolbar-action"
      [@newActionAlert]="getAnimationState(action.id)"
      (@newActionAlert.done)="onAnimationDone($event, action.id)"
      [attr.aria-label]="action.tooltip"
      [matTooltip]="action.tooltip"
      (click)="onActionClick(action)">
      <mat-icon>{{ action.icon }}</mat-icon>
    </button>
  }
  <span class="spacer-right"></span>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="sidenav-top">
      <div class="panorama">
        <button mat-icon-button (click)="setTheme(false); toggleAnimation('day')"
          class="theme-button day-button" [class.sink]="currentTheme === 'day'" [class.hover-effect]="true">
          <mat-icon>wb_sunny</mat-icon>
        </button>
        <button mat-icon-button (click)="setTheme(true); toggleAnimation('night')"
          class="theme-button night-button" [class.sink]="currentTheme === 'night'"
          [class.hover-effect]="true">
          <mat-icon>nightlight</mat-icon>
        </button>
      </div>
    </div>
    <div class="sidenav-content">
        <button mat-raised-button (click)="navigate('save')" [disabled]="isActiveRoute('save')">Save</button>
        <button mat-raised-button (click)="navigate('map')" [disabled]="isActiveRoute('map')">Map</button>
        <button mat-raised-button (click)="navigate('lab')" [disabled]="isActiveRoute('lab')">Lab</button>
        <button mat-raised-button (click)="navigate('mc')" [disabled]="isActiveRoute('mc')">Mega Campaign</button>
        <button mat-raised-button (click)="navigate('mc/admin')" [disabled]="isActiveRoute('mc/admin')">MC Admin</button>
    </div>
    
    @for (action of sideNavContentProvider.getActions(); track action.label) {
      <button mat-button (click)="action.action()">{{ action.label }}</button>
      <mat-divider></mat-divider>
    }
  </mat-drawer>

  <router-outlet></router-outlet>

</mat-drawer-container>