@use '@angular/material' as mat;

:host {
    color: var(--text-color);
    padding: 2.5%;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background-color);
}

.table-container {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.35);
    background: var(--background-color);
}