<mat-tab-group>
    <mat-tab label="Countries">
        <ng-template matTabContent>
            <div class="table-container">
                <app-table [rowElements]="getRowElements()" [columns]="columns"></app-table>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>map</mat-icon>
        </ng-template>
        <app-slab-map-view [geoJsonFetcher]="geoJsonFetcher" [viewModes]="availableMapViewModes"
            [behaviorConfig]="behaviorConfig">
        </app-slab-map-view>
    </mat-tab>
</mat-tab-group>
