:host {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.date-time-title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    h3 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: underline;
    }
}

.date-time-group {
    display: flex;
    gap: 0.5em;
}

