:host {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.map-container {
    width: 95vw;
    height: 95vh;
    image-rendering: pixelated;
    background-color: rgb(32, 32, 32);
}