@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:host {
    background-color: var(--void-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    max-height: 100%;

    @include mat.button-overrides((
        protected-container-color: var(--mat-sys-primary),
        protected-label-text-color: var(--mat-sys-primary-container),
        protected-container-height: 2em,
        protected-horizontal-padding: 24px,
        protected-label-text-size: 1.2em,
        protected-state-layer-color: var(--mat-sys-primary-container),
        protected-hover-state-layer-opacity: 0.12,
        protected-focus-state-layer-opacity: 0.16,
        protected-pressed-state-layer-opacity: 0.24,
        protected-ripple-color: var(--mat-sys-primary-container),
        protected-hover-container-elevation-shadow: 0 6px 12px rgba(0, 0, 0, 0.4),
        protected-pressed-container-elevation-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),
    ));
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%; 
    height: 85%;
    max-width: 85%;
    max-height: 85%;
    box-sizing: border-box;
    overflow: auto;
    padding: 2em;
    gap: 1em;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    border-radius: 0.5em;
    background-color: var(--background-color);
}

.pseudo-component {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 1em;
    width: 100%;
    padding: 0em 5em;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.table-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
    width: 100%;
    box-shadow: var(--box-shadow-large);
    margin-bottom: 1em;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    margin-top: 1em;
}

.plot-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-icon {
    transform: scale(2);
}