@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:host {
    background-color: var(--void-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    max-height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    max-width: 95%;
    max-height: 95%;
    box-sizing: border-box;
    overflow: auto;
    padding: 2em;
    box-shadow: var(--box-shadow);
    border-radius: 0.5em;
    background-color: var(--background-color);
}

.pseudo-component {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 1em;
    width: 100%;
    padding: 0em 5em;

    button {
        width: 18em;
        height: 3em;
        font-size: 1.4em;
        font-weight: bold;
        text-decoration: underline;
    }
}

.table-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
    width: 100%;
    box-shadow: var(--box-shadow-large);
    margin-bottom: 1em;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    margin-top: 2em;
}

.plot-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-icon {
    transform: scale(2);
}