@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:host {
    background-color: var(--void-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    padding: 0 5% 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    @include mat.button-overrides((protected-container-color: var(--mat-sys-primary),
            protected-label-text-color: var(--mat-sys-primary-container),
            protected-container-height: 2em,
            protected-horizontal-padding: 24px,
            protected-label-text-size: 1.2em,
            protected-state-layer-color: var(--mat-sys-primary-container),
            protected-hover-state-layer-opacity: 0.12,
            protected-focus-state-layer-opacity: 0.16,
            protected-pressed-state-layer-opacity: 0.24,
            protected-ripple-color: var(--mat-sys-primary-container),
            protected-hover-container-elevation-shadow: 0 6px 12px rgba(0, 0, 0, 0.4),
            protected-pressed-container-elevation-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),
        ));
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5em 5%;
    gap: 1em;
    border-radius: 0.5em;
    padding-top: 1em;
    background-color: var(--background-color);
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.table-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 4em;
    width: 100%;
    padding: 0em 5em;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
    padding: 2em 5em;
    border-radius: 0.5em;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.plot-container, .lines-plot-container, .timebar-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    margin-top: 1em;
}

.lines-plot-container {
    height: 80vh;
}

.timebar-container {
    height: auto;
    min-height: 400px;
    background-color: var(--background-color);
}

.timebar-plot {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}