:host {
    background-color: var(--void-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    max-height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    height: 95%;
    padding-left: var(--gap);
    box-shadow: var(--box-shadow);
    border-radius: 0.5em;
    background-color: var(--background-color);
}

.pseudo-component {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}