<mat-tab-group>
    <!--<mat-tab label="Map">
        <div class="map-container">
            <app-slab-map-view [save]="activeSave"></app-slab-map-view>
        </div>
    </mat-tab>
-->
    @for (entry of columnMap.entries(); track $index) {
    <mat-tab [label]="entry[0]">
        <ng-template matTabContent>
            <div class="table-container">
                <app-table [rowElements]="getRowElements()" [columns]="entry[1]"></app-table>
            </div>
        </ng-template>
    </mat-tab>
    }
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>map</mat-icon>
        </ng-template>
        <app-slab-map-view [geoJsonFetcher]="geoJsonFetcher" [viewModes]="availableMapViewModes"
            [behaviorConfig]="behaviorConfig">
        </app-slab-map-view>
    </mat-tab>
</mat-tab-group>