@use '@angular/material' as mat;

:host {
    color: var(--text-color);
    padding: 2.5%;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.table-container {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.35);
    background: var(--background-color);
}

.map-container {
    background-color: red;
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: auto;
    max-height: 100%;
    min-height: 100%;
}

mat-tab-group,
.mat-mdc-tab-body-wrapper,
.mat-mdc-tab-body,
.mat-mdc-tab-body-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    overflow: auto;
    background: var(--background-color);
}


::ng-deep mat-tab-group,
::ng-deep .mat-mdc-tab-body-wrapper,
::ng-deep .mat-mdc-tab-body,
::ng-deep .mat-mdc-tab-body-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);
}

::ng-deep mat-tab-group {
    background-color: var(--background-color);
}

::ng-deep .mat-mdc-tab-body-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}