@use '@angular/material' as mat;

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--void-color);
}


.main {
    width: 95%;
    height: 95%;
    background-color: var(--void-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.top {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1em;
}

.discord-container {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid var(--faded-border-color);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}