@use '@angular/material' as mat;

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--void-color);
    @include mat.button-overrides((filled-container-color: rgb(0, 180, 0),
        ));
}


.main {
    width: 95%;
    height: 95%;
    background-color: var(--void-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.top {
    width: 25%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-bar {
    margin: 1em 0em;
}

.discord-container {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid var(--faded-border-color);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

.center {
    width: 90%;
    height: 90%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .spacer {
        width: 2em;
    }

    .table-container {
        max-width: 50%;
        max-height: 100%;
        overflow: auto;
    }
}