:host {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.chute {
    margin-top: 20vh;
    height: 50%;
    width: 50%;
    font-family: var(--font-family);
    font-size: 2em;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--faded-border-color) inset, 0 0 10px var(--faded-border-color);
}

.chute-active {
    background-color: var(--background-color);
    box-shadow: 0 0 10px var(--text-color) inset, 0 0 10px var(--text-color);
}

.select-file-button {
    padding: 0.75em;
    border-radius: 5px;
    transition: transform 0.5s ease;

    &:hover {
        background-color: var(--faded-border-color) !important;
    }

    &:active {
        transform: translateY(20px);
    }
}