@if (!hasBeenInitialized) {
<div #chute class="chute" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
    <span>Drag and drop a save file here to start</span>
    <span>or</span>
    <div class="file-selection">
        <button mat-raised-button class="select-file-button" color="primary" style="text-decoration: underline;"
            (click)="openFileDialog()">Select a save file</button>
        <input #fileInput type="file" accept=".ck3,.eu4,.v3,.json" style="display: none;" (change)="onFileSelected($event)" />
    </div>
</div>
}
@if (hasBeenInitialized) {
    @if (activeSaveIsVic3()) {
    <app-save-view class="container" [activeSave]="activeSave">
    </app-save-view>
    }
    @if (activeSaveIsCk3()) {
        <app-ck3-save-view [activeSave]="activeSave"></app-ck3-save-view>
    }
}