<div class="main">
    <mat-tab-group>
        <mat-tab label="Halberat Function">
            <ng-template mat-tab-label>
                Halberat Function
            </ng-template>
            <div class="tab-content">
                <div class="controls-container">
                    <div>
                        <mat-form-field appearance="outline" class="save-selector">
                            <mat-label>Select Save</mat-label>
                            <mat-select [(ngModel)]="selectedSaveId" (selectionChange)="onSaveSelected($event.value)">
                                <mat-option *ngFor="let save of saves" [value]="save.id">
                                    {{ save.year }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    
                    <div class="sliders-container">
                        <div class="slider-row">
                            <label class="slider-label">X-Domain Min:</label>
                            <mat-slider class="slider-control" [min]="xDomainAbsMin" [max]="xDomainAbsMax" [step]="10">
                                <input matSliderThumb [(ngModel)]="xDomainMin" (change)="onXDomainChange()" />
                            </mat-slider>
                            <span class="slider-value">{{ xDomainMin }}</span>
                        </div>
                        
                        <div class="slider-row">
                            <label class="slider-label">X-Domain Max:</label>
                            <mat-slider class="slider-control" [min]="xDomainAbsMin" [max]="xDomainAbsMax" [step]="10">
                                <input matSliderThumb [(ngModel)]="xDomainMax" (change)="onXDomainChange()" />
                            </mat-slider>
                            <span class="slider-value">{{ xDomainMax }}</span>
                        </div>
                    </div>
                </div>
                
                <div #chartContainer></div>
            </div>
        </mat-tab>
        <mat-tab label="Development by Nation">
            <ng-template mat-tab-label>
                Development by Nation
            </ng-template>
            <div style="padding: 20px;">
                <div #devChartContainer></div>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>