@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    padding: 3em 5em;
    max-height: 100%;
    @include mat.table-overrides((row-item-container-height: 3em,
            row-item-label-text-size: 1em,
            header-container-height: 2.2em,
            header-headline-size: 1.4em,
            row-item-outline-color: var(--faded-border-color),
            row-item-label-text-color: var(--text-color),
            row-item-outline-width: 1px,
        ));
}

table {
    border: 1px solid var(--faded-border-color);
}

table th {
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
}

table td {
    background-color: var(--background-color);
    padding: 0.5em;
}

.negative-cell {
    color: #e53935 !important;
}

sub {
    font-size: 0.5em;
}