@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    max-height: 100%;
    max-width: 100%;
    border-radius: 0.5em;
    //border: 4px solid var(--faded-border-color);
    font-family: var(--header-font-family);
    @include mat.table-overrides((row-item-container-height: 3em,
            row-item-label-text-size: 1em,
            header-container-height: 2.2em,
            header-headline-size: 1.4em,
            row-item-outline-color: var(--faded-border-color),
            row-item-label-text-color: var(--text-color),
            row-item-outline-width: 1px,
            header-headline-color: var(--text-color),
            header-headline-font: var(--header-font-family),
            row-item-label-text-font: var(--font-family)));
}

table {
    border: none;
    border-radius: 0.5em;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    box-sizing: border-box;
}

table th {
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 2;
}

table td {
    background-color: var(--background-color);
    padding: 0.5em;
    border-bottom: 1px solid var(--faded-border-color);
    transition: background 0.2s;
}

table tr:nth-child(even) td {
    background-color: var(--table-row-alt);
}

table tr:hover td {
    background-color: var(--table-row-hover);
}

table tr:nth-child(even):hover td {
    background-color: var(--table-row-alt-hover);
}

table td img {
    max-width: 1.4em;
    max-height: 1.4em;
    vertical-align: middle;
}

table td:not(:has(img)) {
    padding: 0.5em;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 0.5em;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 0.5em;
}

table tr:first-child td:first-child {
    border-top-left-radius: 0.5em;
}

table tr:first-child td:last-child {
    border-top-right-radius: 0.5em;
}

.negative-cell {
    color: #e53935 !important;
}

sub {
    font-size: 0.5em;
}

.col-context-menu {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    background-color: var(--void-color);
    padding: 0.25em;
    border: 1px solid var(--faded-border-color);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
}

.col-context-menu-item {
    font-size: 1.2em;
    padding: 0.5em 1em;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25em;
    cursor: pointer;
    border-color: var(--faded-border-color);
    background-color: var(--background-color);
}

.col-context-menu-item:hover {
    background-color: var(--faded-border-color);
    border-color: var(--text-color);
}

.col-context-menu-item:active {
    filter: brightness(0.5);
}

.popup {
    background: none;
}