@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    padding: 3em 5em;
    max-height: 100%;
    @include mat.table-overrides((row-item-container-height: 3em,
            row-item-label-text-size: 1em,
            header-container-height: 2.2em,
            header-headline-size: 1.4em,
            row-item-outline-color: var(--faded-border-color),
            row-item-label-text-color: var(--text-color),
            row-item-outline-width: 1px,
            header-headline-color: var(--text-color),
            header-headline-font: var(--font-family) var(--font-weight-bold),
            row-item-label-text-font: var(--font-family) var(--font-weight-regular)
        ));
    @include mat.dialog-overrides((container-color: orange,
            subhead-color: red,
        ));
}

table {
    border: 1px solid var(--faded-border-color);
}

table th {
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
}

table td {
    background-color: var(--background-color);
    padding: 0.5em;
}

.negative-cell {
    color: #e53935 !important;
}

sub {
    font-size: 0.5em;
}

.col-context-menu {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    background-color: var(--void-color);
    padding: 0.25em;
    border: 1px solid var(--faded-border-color);
    border-radius: 0.5em;
}

.col-context-menu-item {
    font-size: 1.2em;
    padding: 0.5em 1em;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25em;
    cursor: pointer;
    border-color: var(--faded-border-color);
    background-color: var(--background-color);
}

.col-context-menu-item:hover {
    background-color: var(--faded-border-color);
    border-color: var(--text-color);
}

.col-context-menu-item:active {
    filter: brightness(0.5);
}

.popup {
    background: none;
}