<mat-expansion-panel class="campaigns expansion-panel" [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title> <mat-icon fontSet="material-symbols-outlined">history_edu</mat-icon>
            <h3>Campaigns</h3>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="expansion-content">
        <app-mcadmin-campaigneditor></app-mcadmin-campaigneditor>
    </div>
</mat-expansion-panel>
<mat-expansion-panel class="assignments expansion-panel" [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title> <mat-icon fontSet="material-symbols-outlined">globe</mat-icon>
            <h3>Region Assignments</h3>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="expansion-content">
        <app-mcadmin-startassignments></app-mcadmin-startassignments>
    </div>
</mat-expansion-panel>