@use '@angular/material' as mat;

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    overflow-y: auto;
}

.expansion-panel {
    width: 100%;
    flex-shrink: 0;
}

.expansion-content {
    flex: 1;
    padding: 1% 2%;
}

h3 {
    margin-left: 0.5rem;
}