<div class="sessionListsWrapper">
    <mat-list>
        @for (let ck3Identifier of getCk3Identifier(); let i = index) {
        <mat-list-item>{{ck3Identifier}}</mat-list-item>
        }
    </mat-list>
    <mat-list>
        @for (let eu4Identifier of getEu4Identifier(); let i = index) {
        <mat-list-item>{{eu4Identifier}}</mat-list-item>
        }
    </mat-list>
    <mat-list>
        @for (let vic3Identifier of getVic3SessionIdentifiers(); let i = index) {
        <mat-list-item>{{vic3Identifier}}</mat-list-item>
        }
    </mat-list>
</div>