:host {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    max-height: 100%;
}

.container {
    max-height: 90%;
    overflow-y: scroll;
}

span {
    font-size: 2em;
    font-weight: bold;
}