@use '@angular/material' as mat;

.discord {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 2em;
}

.login-button {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 12px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
}

.avatar-img {
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
    width: 64px;
    height: 64px;
}

.name-container {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5em;
    font-size: 1.5em;
}

.profile-name {
    text-align: center;
    width: 100%;
}