@use '@angular/material' as mat;

:host {
    @include mat.button-overrides((filled-container-color: rgb(88, 101, 242),
        ));
}

.login-button {
    display: flex !important;
    flex-direction: row-reverse !important;
    gap: 1.25em;
    font-weight: bold;

    mat-icon {
        font-size: 1.5em;
        width: 1.5em;
        height: 1.5em;
    }
}