@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

html, body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}