@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
    --background-color: rgb(32, 32, 32);
    --lighter-background-color: rgb(37, 37, 37);
    --text-color: rgba(255, 255, 255, 0.9);
    /*--text-color: rgb(220, 220, 157);*/
    --border-color: var(--text-color);
    --faded-border-color: rgba(255, 255, 255, 0.2);
    --faded-text-color: rgba(255, 255, 255, 0.5);
    /*--font-family: 'Titillium Web', sans-serif;*/
    --hacker-font: 'Inconsolata', monospace;
    /*--font-family: "Delius", cursive;*/
    --font-family: "Manrope", sans-serif;
    --void-color: rgb(20, 20, 25);

    --dark-theme-text-color: rgb(255, 255, 255);
    --dark-theme-background-color: rgb(32, 32, 32);
    --light-theme-text-color: rgb(0, 0, 0);
    --light-theme-background-color: rgb(255, 255, 255);
}

.light-theme {
    --background-color: var(--light-theme-background-color);
    --lighter-background-color: rgb(240, 240, 240);
    --text-color: var(--light-them-text-color);
    --border-color: var(--text-color);
    --faded-border-color: rgba(0, 0, 0, 0.2);
    --faded-text-color: rgba(0, 0, 0, 0.5);
    --void-color: rgb(240, 240, 240);
}

html,
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.tooltip {
    background: var(--lighter-background-color) !important;
    color: #fff !important;
    font-size: 1.1em !important;
    border-radius: 6px !important;
    padding: 0.5em 1em !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}

.tooltip-secret {
    background: var(--background-color) !important;
    color: var(--text-color) !important;
    border-radius: 6px !important;
    padding: 0.5em 0.5em 0.5em 0em !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
    width: fit-content !important;
    max-width: 90vw !important;
    white-space: pre !important;
    word-break: normal !important;
    font-family: Inconsolata, monospace !important;
}

* {
  box-sizing: border-box;
}