@use '@angular/material' as mat;

:host {
    --mat-sys-on-surface: var(--text-color);
    --mat-sys-title-small-size: 2em;
    --mat-sys-title-small-font: var(--font-family);
    --mat-sys-primary: var(--text-color);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-height: 100%;

    @include mat.tabs-overrides((divider-color: var(--text-color),
            active-label-text-color: var(--text-color),
            active-focus-label-text-color: var(--text-color),
            inactive-focus-label-text-color: var(--text-color),
            inactive-label-text-color: var(--text-color),
            label-text-size: 2em,
            container-height: 2em,
            label-text-font: var(--font-family),
            divider-height: 1px,
            active-indicator-height: 0.2em,
        ));
}

.table-controls {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    padding: 0.5em 0;
    margin: 0 auto;
    box-shadow: inset 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    background-color: var(--background-color);

}

.radio-group-label {
    display: block;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

::ng-deep mat-tab-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    background-color: var(--background-color);
}

::ng-deep .mat-mdc-tab-body-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

::ng-deep .mat-mdc-tab-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

::ng-deep .mat-mdc-tab-body-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: var(--void-color);
}