@use '@angular/material' as mat;

:host {
    --mat-sys-on-surface: var(--text-color);
    --mat-sys-title-small-size: 2em;
    --mat-sys-title-small-font: var(--font-family);
    --mat-sys-primary: var(--text-color);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-height: 100%;

    @include mat.tabs-overrides((
            label-text-size: 2em,
            label-text-font: var(--font-family),
            container-height: 2em,
            divider-height: 1px,
            active-indicator-height: 0.2em,
        ));
}

.content {
    width: 100%;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.25em 0em 0.25em 4em;
}

.content span:nth-child(odd) {
    margin-right: 0.5em;
    font-variant-numeric: tabular-nums;
}

.content span:nth-child(even) {
    margin-right: 2em;
    font-variant-numeric: tabular-nums;
}

.table-controls {
    width: 50%;
    margin: 0 auto 0.5em;
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    background-color: var(--background-color);
}

.radio-group-label {
    display: block;
    color: var(--text-color);
    font: var(--font-size) var(--font-family);
}

::ng-deep mat-tab-group,
::ng-deep .mat-mdc-tab-body-wrapper,
::ng-deep .mat-mdc-tab-body,
::ng-deep .mat-mdc-tab-body-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

::ng-deep mat-tab-group {
    background-color: var(--background-color);
}

::ng-deep .mat-mdc-tab-body-content {
    background: var(--void-color);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}

.tab-content-scroll {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
    padding: 1em 2em 2em 2em;
}

.table-wrapper {
    flex: 1 1 auto;
    padding: 0.5rem;
    margin: 2rem 5%;
    border-radius: 0.5rem;
    background-color: var(--background-color);
}