<div class="plot-wrapper">
    <h2 cdkFocusInitial> {{ title}} </h2>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Download plot" matTooltip="Download plot">
        <mat-icon>download</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="downloadPlotAsSVG()">
            <mat-icon>polyline</mat-icon>
            <span>Download SVG</span>
        </button>
        <button mat-menu-item (click)="downloadPlotAsPNG()">
            <mat-icon>insert_photo</mat-icon>
            <span>Download PNG</span>
        </button>
    </mat-menu>
    <div class="plot-container"></div>
</div>