:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 4em;
    width: 100%;
    height: 100%;
}