
:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding: 1em;
    width: 100%;
    height: 100%;
}

::ng-deep .mat-mdc-menu-panel {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    box-shadow: var(--box-shadow);
}

::ng-deep .mat-mdc-menu-content {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

::ng-deep .mat-mdc-menu-item {
    color: var(--text-color) !important;
}

::ng-deep .mat-mdc-menu-item:hover {
    background-color: var(--faded-border-color) !important;
    color: var(--text-color) !important;
}

::ng-deep .mat-icon {
    color: var(--text-color) !important;
}