@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: row;
    @include mat.list-overrides((list-item-container-shape: 0.5em,
        ));
}

.left {
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
    border-left: 1px solid var(--text-color);
    padding-left: 4em;
}

.campaign-details {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.header-with-actions {
    display: flex;
    align-items: center;
    gap: 2em;
    font-family: var(--header-font-family);
    h1 {
        margin: 0;
    }
}

.title-button-panel {
    gap: 0em;
}

button {
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.button-bar {
    display: flex;
    gap: 8px;
    padding: 16px;
    flex-wrap: wrap;
}

.campaign-details-content {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: fit-content;
    margin-bottom: 5em;
}