<div class="left">
    <mat-list>
        @if ((campaigns$ | async); as campaigns) {
        @for (campaign of campaigns; track campaign.getName()) {
        <mat-list-item>
            <mat-icon matListItemIcon>folder</mat-icon>
            <div matListItemTitle>{{campaign.getName()}}</div>
            <div matListItemLine class="date-line">
                <mat-icon matTooltip="Region Deadline" class="material-symbols-outlined date-icon">public</mat-icon>
                <span>{{campaign.getRegionDeadlineDate() | date: 'short'}}</span>
            </div>
            <div matListItemLine class="date-line">
                <mat-icon matTooltip="Start Deadline" class="material-symbols-outlined date-icon">schedule</mat-icon>
                <span>{{campaign.getStartDeadlineDate() | date: 'short'}}</span>
            </div>
            <div matListItemLine class="date-line">
                <mat-icon matTooltip="First Session" class="material-symbols-outlined date-icon">castle</mat-icon>
                <span>{{campaign.getFirstSessionDate() | date: 'short'}}</span>
            </div>
        </mat-list-item>
        }
        }
    </mat-list>
</div>
<div class="right">

</div>